@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.prices {
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 60px 0px 20px 0px;
  }
  hr {
    margin-left: 0;
  }
  img {
    @include bp-tablet-sm {
      margin-bottom: 20px !important;
    }
  }
}
