@import "../../styles/breakpoints.scss";

.intro {
  padding: 100px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 60px 0px 60px 0px;
  }
  h2,
  h4 {
    text-align: center;
    line-height: 1.6;
  }
  p {
    &#desc {
      text-align: center;
    }
  }
  button {
    margin-top: 30px;
  }
}
