@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.services {
  padding: 120px 0px 120px 0px;
  text-align: center;
  background: $grey;
  button {
    margin-top: 30px;
  }
  @include bp-tablet-sm {
    padding: 60px 0px 60px 0px;
  }
}
