@import "/styles/variables.scss";

.nav {
  background: $red;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}
