@import "../../styles/breakpoints.scss";

.aboutErie {
  padding: 0px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 0px 0px 60px 0px;
  }
  h2,h3 {
    line-height: 1.3;
  }
  h2 {
    margin-top: 40px;
    @include bp-tablet-sm {
      margin-top: 20px;
    }
  }
  h3 {
    margin-top: 30px;
    @include bp-tablet-sm {
      margin-top: 10px;
    }
  }
}
